.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.rightAD{
  float: right;
}
.leftAD{
  float: left;
}

header{
  text-align: center;
}
header img{
  border: 3px solid black;
  width: 100px;
}

nav{
  margin: auto;
  text-align: center;
}
nav a{
  display: inline-block;
  background-color: aqua;
}
nav a:hover{
  background-color: rgb(1, 145, 145);
}

h2{
  text-align: center;
}

aside{
  border: 10px solid black;
  border-radius: 10px;
  width: 370px;
  padding: 10px;
  text-align: center;
}

section{
  margin: auto;
  border: 10px solid black;
  border-radius: 10px;
  width: 750px;
  padding: 10px;
  text-align: center;
}

table, th, td {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid;
}